---
import Navbar from "../components/navbar.astro";
import Footer from "../components/footer.astro";

import '../styles/global.css';

import {yearsContentList} from "../api/getEventsForImageArchive";

// let events2021 = ["Event 1.jpg", "Event 2.jpg", "Event 3.jpg", "Event 4.jpg"];
// let events2022 = ["1-Holi.jpg", "2-Holi.jpg", "3-Holi.jpg", "1-Intercultural Fest.jpg", "2-Intercultural Fest.jpg", "3-Intercultural Fest.jpg",
//                      "1-Meet and Greet.jpg", "2-Meet and Greet.jpg", "3-Meet and Greet.jpg", "4-Meet and Greet.jpg"];
// let events2023 = ["Meet and Greet.jpg", "1-Diwali.jpeg", "2-Diwali.jpg", "3-Diwali.jpg"];
// let events2024 = ["Holi.jpeg", "1-Meet and Greet.jpg", "2-Meet and Greet.jpg", "3-Meet and Greet.jpg"];
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=League+Spartan:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <title>Events - AIGSQ - Queen's University</title>
        <link rel="shortcut icon" href="/favicon.jpg" type="image/x-icon">
    </head>
    <body>
        <Navbar></Navbar>
        <div class="content-container">
            <section>
                <h1>Events</h1>
                <li>Join our Meet and Greet event for international students, designed to ease their transition by fostering connections, providing essential information, and creating a welcoming community.</li>
                <li>Celebrate Diwali, the festival of lights, which signifies the victory of light over darkness and knowledge over ignorance.</li>
                <li>Experience Holi, the vibrant festival of colors, symbolizing the arrival of spring and the triumph of good over evil.</li>
                <li>Honor Republic Day, which commemorates the adoption of the Indian Constitution and celebrates India’s rich heritage and democratic values.</li>
            </section>
            <section>
                <h1>Archived Events</h1>
                <hr/>
                <div class="tabs">
                    {yearsContentList.map(yearContentEntry => {
                        const year = yearContentEntry.fields.year;
                        return (
                            <button id={`${year}-btn`} class="tab-link">{year}</button>
                        )
                    })}
                </div>
                <!-- <div class="tabs">
                    <button id="2024-btn" class="tab-link">2024</button>
                    <button id="2023-btn" class="tab-link">2023</button>
                    <button id="2022-btn" class="tab-link">2022</button>
                    <button id="2021-btn" class="tab-link">2021</button>
                </div> -->
                
                {yearsContentList.map(yearContentEntry => {
                    const year = yearContentEntry.fields.year;
                    const eventContentList = yearContentEntry.fields.images;
                    
                    return (
                        <div id={year} class="tab-content">
                            {eventContentList.map(eventContentEntry => {
                                const imageTitle = eventContentEntry.fields.title;
                                const image = eventContentEntry.fields.file.url;
                                return (
                                    <div class="event">
                                        <div class="img-container">
                                            <img src={image} alt="" /> 
                                        </div>
                                        <div class="event-title">{imageTitle}</div>
                                    </div>
                                )
                            })}
                        </div>
                    )
                })}
                <!-- <div id="2024" class="tab-content">
                    {events2024.map(image => {
                        var afterDashIdx = image.indexOf("-");
                        afterDashIdx == -1 ? afterDashIdx = 0 : afterDashIdx++ ;
                        var dotIdx = image.lastIndexOf(".");
                        afterDashIdx > dotIdx ? afterDashIdx = 0 : true ;
                        return (
                            <div class="event">
                                <div class="img-container">
                                    <img src={`/Events/2024/${image}`} alt="" /> 
                                </div>
                                <div class="event-title">{dotIdx == -1 ? "err: bad file name" : image.slice(afterDashIdx, dotIdx)}</div>
                            </div>
                        )
                    })}
                </div>
        
                <div id="2023" class="tab-content">
                    {events2023.map(image => {
                        var afterDashIdx = image.indexOf("-");
                        afterDashIdx == -1 ? afterDashIdx = 0 : afterDashIdx++ ;
                        var dotIdx = image.lastIndexOf(".");
                        afterDashIdx > dotIdx ? afterDashIdx = 0 : true ;
                        return (
                            <div class="event">
                                <div class="img-container">
                                    <img src={`/Events/2023/${image}`} alt="" /> 
                                </div>
                                <div class="event-title">{dotIdx == -1 ? "err: bad file name" : image.slice(afterDashIdx, dotIdx)}</div>
                            </div>
                        )
                    })}
                </div>
        
                <div id="2022" class="tab-content">
                    {events2022.map(image => {
                        var afterDashIdx = image.indexOf("-");
                        afterDashIdx == -1 ? afterDashIdx = 0 : afterDashIdx++ ;
                        var dotIdx = image.lastIndexOf(".");
                        afterDashIdx > dotIdx ? afterDashIdx = 0 : true ;
                        return (
                            <div class="event">
                                <div class="img-container">
                                    <img src={`/Events/2022/${image}`} alt="" /> 
                                </div>
                                <div class="event-title">{dotIdx == -1 ? "err: bad file name" : image.slice(afterDashIdx, dotIdx)}</div>
                            </div>
                        )
                    })}
                </div>
        
                <div id="2021" class="tab-content">
                    {events2021.map(image => {
                        var afterDashIdx = image.indexOf("-");
                        afterDashIdx == -1 ? afterDashIdx = 0 : afterDashIdx++ ;
                        var dotIdx = image.lastIndexOf(".");
                        afterDashIdx > dotIdx ? afterDashIdx = 0 : true ;
                        return (
                            <div class="event">
                                <div class="img-container">
                                    <img src={`/Events/2021/${image}`} alt="" /> 
                                </div>
                                <div class="event-title">{afterDashIdx == -1 ? "err: bad file name" : image.slice(afterDashIdx, dotIdx)}</div>
                            </div>
                        )
                    })}
                </div> -->
            </section>
        </div>

        <Footer></Footer>

        <script>
            const yearBtns = document.querySelectorAll(".tab-link");
            var yearTabs;
            
            yearBtns.forEach( button => {
                button.addEventListener("click", openYear);
            });
                
            function openYear(event) {
                const btdID = event.srcElement.id;
                const year = btdID.slice(0,4);
                yearTabs = document.querySelectorAll(".tab-content");

                // Hide all tab contents and Remove the active class from all tab links
                for (var i = 0; i < yearBtns.length; i++) {
                    yearTabs[i].style.display = "none";
                    yearBtns[i].classList.remove("active");
                }

                // Show the current tab content and add the active class to the clicked tab link
                document.getElementById(year).style.display = "flex";
                event.srcElement.className += " active";

                fitImageDisplay(year);
            }

            function fitImageDisplay(year) {
                var content = document.getElementById(year);
                var contentItems = content.childElementCount
                if (contentItems == 0) return;     // No images displayed (content has no children)

                var contentWidth = content.offsetWidth;
                var imageWidth = (content.children[0] as HTMLElement).offsetWidth;
                var imagesPerRow = Math.floor(contentWidth / imageWidth);
                var fillersToMake = imagesPerRow - contentItems % imagesPerRow;
                if (fillersToMake == imagesPerRow) fillersToMake = 0;   // Only add filler divs if needed

                // alert(`${contentItems} in ${imagesPerRow} per row, needs ${fillersToMake} fillers`)
                if (fillersToMake) {
                    for (var i = 0; i < fillersToMake; i++) {
                        var filler = document.createElement("div");
                        filler.classList.add("filler");
                        filler.style.height = "28rem";
                        filler.style.width = "28rem";
                        // filler.style.border = "1px solid red";
                        content.appendChild(filler);
                    }
                }
            }

            // Set the default tab to be open
            document.addEventListener("DOMContentLoaded", function() {
                (document.querySelector(".tab-link") as HTMLElement).classList.toggle("active");
                (document.querySelector(".tab-content") as HTMLElement).style.display = "flex";
                fitImageDisplay(document.querySelector(".tab-content").id);
            });
        </script>
    </body>
</html>

<style>
    .content-container {
        width: 85%;
        margin: 0 auto;
    }

    h1 {
        font-family: 'League Spartan';
        font-weight: 700;
        font-size: 5rem;
        letter-spacing: 1px;
        color: black;
        text-align: left;
        margin-top: 6rem;
        margin-bottom: 3rem;
    }
    
    .content-container section:first-of-type h1 {
        margin-top: 2rem;
    }

    .tabs {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .tab-link {
        background-color: #f1f1f1;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        margin: 0 5px;
        font-size: 16px;
    }

    .tab-link:hover {
        background-color: #ddd;
    }

    .tab-link.active {
        background-color: #555;
        color: white;
    }

    .tab-content {
        display: none;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .tab-content .event {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .event .img-container {
        width: 28rem;
        height: 28rem;
        background-color: #e2e2e2;
        margin-bottom: 10px;
        /* margin-right: 20px; */
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .event .img-container img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;    /* Ensures the image keeps its aspect ratio */
        transform: scale(1.1);  /* Slightly scale the image */
    }

    .event-title {
        background-color: #800000;
        color: white;
        padding: 10px;
        width: 65%;
        text-align: center;
    }

    li {
        font-family: 'Libre Baskerville';
        font-size: 1.4rem;
        letter-spacing: 1px;
        line-height: 2.5rem;
    }
</style>